<div *ngFor="let config of configs">
    <div *ngIf="config.id== configId">
        <p>CONFIGURATION ID: {{config.id}}</p>
        <p>CONFIGURATIN NAME : {{ config.config }} </p>
        <p>CLIENT ID : {{ config.id_client }}</p>
    </div>

</div>
<hr>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div *ngFor="let parameter of  getParameters()">


        <div *ngIf="parameter.type === 'varchar'">
            <div class="form-group">

                <label for="{{ parameter.col_name }}">{{ parameter.col_name }}</label>
                <input type="text" id="{{ parameter.col_name }}" class="form-control" name="{{ parameter.col_name }}"
                    placeholder="{{ parameter.col_name }}" ngModel>

            </div>
        </div>



        <div *ngIf="parameter.type === 'date'">
            <div class="form-group">
                <label for="{{ parameter.col_name }}">{{ parameter.col_name }}</label>
                <input type="date" id="{{ parameter.col_name }}" class="form-control"
                    placeholder="{{ parameter.col_name }}" name="{{ parameter.col_name }}" ngModel>
            </div>
        </div>


        <div *ngIf="parameter.type === 'int'">
            <div class="form-group">
                <label for="{{ parameter.col_name }}">{{ parameter.col_name }}</label>
                <input type="number" id="{{ parameter.col_name }}" class="form-control"
                    placeholder="{{ parameter.col_name }}" name="{{ parameter.col_name }}" ngModel>
            </div>
        </div>


        <div *ngIf="parameter.type === 'varcharMAX'">
            <div class="form-group">
                <label for="{{ parameter.col_name }}">{{ parameter.col_name }}</label>
                <textarea id="{{ parameter.col_name }}" class="form-control" placeholder="{{ parameter.col_name }}"
                    name="{{ parameter.col_name }}" ngModel></textarea>
            </div>
        </div>


    </div>


    

    <input type="reset" class="btn btn-danger" Value="SET TO 0" />
    <button class="btn btn-primary" type="submit">Save</button>
</form>